<section class="home">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h5>Episodes</h5>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3">
                <button mdbBtn type="button" color="grey" outline="true" mdbWavesEffect class="seasonBtn"> 1</button>
            </div>
            <div class="col-md-9">
                <!-- <div class="row"> -->
                <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation"
                    [type]="'carousel-multi-item'" [animation]="'slide'" [interval]="'0'">
                    <mdb-carousel-item *ngFor="let item of slides; let i = index">
                        <div class="col-md-3" *ngFor="let card of item; let cardIndex = index">
                            <mdb-card class="my-1">
                                <mdb-card-img [src]="card.img" alt="Card image cap"></mdb-card-img>
                                <mdb-card-body>
                                    <mdb-card-title>
                                        <p>{{card.title}}</p>
                                    </mdb-card-title>
                                </mdb-card-body>
                            </mdb-card>
                        </div>
                    </mdb-carousel-item>
                </mdb-carousel>
                <!-- </div> -->
            </div>
        </div>

    </div>
</section>