<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <h5>About</h5>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="card" style="height: 100%;">
                    <img src="../../assets/images/episode_4.jpg" class="card-img-top rounded" style="height: 100%;"
                        alt="...">
                    <a href="#" class="card__play">
                        <i class="fa fa-play" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <table>
                    <tr>
                        <td>
                            <label>Summary :</label>
                        </td>
                        <td>
                            <span>A high school chemistry teacher diagnosed with inoperable lung cancer turns to
                                manufacturing and selling methamphetamine in order to secure his family's future</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Creator :</label>
                        </td>
                        <td>
                            <span>Vince Gilligan</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Casts :</label>
                        </td>
                        <td>
                            <span>Bryan Cranston , Anna Gunn , Aaron Paul , Dean Norris , Betsy Brandt , RJ Mitte
                                    Bob Odenkirk , Giancarlo Esposito , Jonathan Banks , Laura Fraser , Jesse Plemons</span>
                        </td>
                    </tr>
                </table>


            </div>
        </div>
    </div>
</section>